*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: '微软雅黑','苹方';
	list-style: none;
}
img{
	width: 100%;
	height: 100%;
}
@font-face {
  font-family: 'iconfont';  /* project id 461528 */
  src: url('https://at.alicdn.com/t/font_461528_bf11vg89pn6a8aor.eot');
  src: url('https://at.alicdn.com/t/font_461528_bf11vg89pn6a8aor.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_461528_bf11vg89pn6a8aor.woff') format('woff'),
  url('https://at.alicdn.com/t/font_461528_bf11vg89pn6a8aor.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_461528_bf11vg89pn6a8aor.svg#iconfont') format('svg');
}